@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
ul{
  list-style-type: none;
  font-family: 'PT Sans';
  font-size: 20px;
  margin: 0;
  padding: 0;
}
li{
  display: block;
  float: left;
  text-align: center;
  min-width: 120px;

}

h1{
  font-family: 'PT Sans';
  font-size: 50px;
}
h2{
  font-family: 'PT Sans';
  font-size: 30px;
}


body{
  text-align: left;
  display: grid;
  margin: auto;
  max-width: 800px;
  min-width: 300px;
}
#MainTitle{
  font-size: 35px;
}
